<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/production.min.css') }}?v={{ APP_VERSION }}"/>
        <script src="https://unpkg.com/alpinejs" defer></script>

        <title>{{ APP_NAME }}</title>
        {% endblock head %}
    </head>

    <body>
        {% block content %}{% endblock content %}
        <footer x-data="{ copyright_year: new Date().getFullYear() }">
            {% block footer %}
            <p class="bg-gray-200">Copyright &copy; <span x-text="copyright_year"></span> {{ APP_NAME }} ({{ APP_VERSION }}).</p>
            {% endblock footer %}
        </footer>
    </body>
</html>
